

.header{
  width: 100%;
  height: 800px;
  background-color: $white;
  background-image: url("../entregables/images/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;

}
